.wrapper {
  width: 100%;
  height: 100%;
  position: relative;
  display: grid;
  grid-template-rows: 15% auto 15%;
  background-color: #ccc;
}

.title-container {
  margin: auto;
  text-align: center;
  width: 100%;
}

.title {
  padding: 0;
  margin: 0;
  font-size: 30px;
}

.cards {
  display: grid;
  grid-template-rows: auto auto auto auto;
  grid-template-columns: auto auto auto;
  gap: 20px 40px;
  padding: 0 10%;
}

.btn-container {
  position: relative;
}

.btn-add-card {
  width: 100px;
  padding: 10px 5px;
  position: absolute;
  right: 0;
  margin-right: 5%;
}

.btn-add-card:hover {
  cursor: pointer;
}

button:focus,
input:focus {
  outline: none;
}

.modal-window-wrapper {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 1000;
  display: grid;
  grid-auto-flow: column;
  justify-content: end;
  grid-template-columns: 40% 30%;
  background: rgba(0, 0, 0, 0.25);
}

.modal-window__cross {
  height: 100%;
}

.modal-window__cross:hover {
  background: rgba(0, 0, 0, 0.3);
}

.modal-window__cross img {
  width: 50px;
  height: 50px;
  position: absolute;
  right: 5%;
  top: 5%;
}
